@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    /* we can also specify globally all the h1 use the poppins font */
    /* @apply font-extrabold text-2xl mb-3 font-poppins; */
    @apply font-extrabold text-2xl mb-3;
  }
}
